html{
     height: 100%;
 }
 body{
     background: url("https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5297426881001_5280178297001-vs.jpg?pubId=5104226627001&videoId=5280178297001");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     text-align: center;
 }

 label{
     display: block;
     margin: 10px auto;
 }

 form label{
     display: inline;
 }
 body h1{
     color: red;
 }

 strong{
     color: yellow;
 }

 section{
     background-color: blue;
     border: white 3px dotted;
     width: 80%;
     margin: 5px auto;
     color: #f5f5f5;
     clear: right;
     overflow: auto;
 }

 section h2{
     color: white;
 }

 .error{
 color: red;
 }

 input{
     text-align: center;
 }

 .next{
     background-color: white;
     color: green;
     border: 3px dotted;
     width: 10%;
     float: right;
     margin: 5px 10px;
 }