body{

  background-color: #a5a5a5;
  color: white;
  text-align: center;

}
span{
  color: #2244aa;

}

#summary{
    width: 30%;
    margin: 10px auto;
    border: white 1px solid;
}

section{
    border: white 1px solid;
    width: 40%;
    margin: 10px auto;
    color: black;
}
